<div class="col s12 ">

  <% if session[:logged_in] == true %>
    <% @posts.each do |post| %>
        <div class="post">
          <p>This is <%= User[id: post.poster_id].username %> </p>
          <p><%= post.description %> </p>
          <p>TELL HER HOW GOOD SHE LOOKS!</p>
          <p>Likes:  <%= post.vote_amount %> </p>
          <br />

          <form action="/post/voteup" method="post">
            <div class="form-group">
              <input type="hidden" name="id" value="<%= post.id %>">
              <button class="btn-primary" type="submit" name="button">Vote up</button>
            </div>
          </form>
        </div>
    <% end %>
  <% else %>
    <div class="welcome">
      <h1>Welcome to YOU LOOK GOOD!</h1>
      <p>Women regularly ask the question: "How do I look?" This is a site to tell you YOU LOOK GOOD! What you see isn't what the world sees. You may see imperfections. We see beauty. We see uniqueness. See the beauty that we see!!! Post pictures of yourself and get ready to feel the love from the YLG community! We are a culture of positivity - any negative comments will be removed! Please post responsibly. No nudity or graphic content!</p>
      <h3>Please sign in to get started!</h3>
    </div>
    <div class="links">
          <div class="row container">
            <div class="col s12">
              <div class="center-align">
                <h2>Feeling down? Let us lift you up!</h2>
                <p>Some of our favorite videos that reaffirm you look good, and man it feels good to be a woman!</p>
              </div>
              <div class="slider">
                   <ul class="slides hoverable">
                     <li>
                       <img class="carousel-image" src="images/always_like_a_girl1.jpg" /></a>
                       <div class="caption left-align">
                         <h3>#likeagirl</h3>
                         <h5>Does it ever get old? No. Do we cry every time? Yes. </h5>
                         <a href="https://www.youtube.com/watch?v=XjJQBjWYDTs">WATCH HERE</a>
                       </div>
                     </li>
                     <li>
                       <img class="carousel-image" src="images/secret_commercial.jpg" />
                       <div class="caption left-align">
                         <h3>Bridge That Gap</h3>
                         <h5>A recent ad for Secret that pumps me up every time. Do it.</h5>
                         <a href="https://www.youtube.com/watch?v=9ilSeJ6B5ro">WATCH HERE</a>
                       </div>
                     </li>
                     <li>
                       <img class="carousel-image" src="images/you_can_be_anything.jpg" />
                       <div class="caption left-align">
                         <h3>You Can Be Anything. Barbie</h3>
                         <h5>We were jazzed when Barbie expanded skin color, height and size. And now there's this. You're welcome.</h5>
                         <a href="https://www.youtube.com/watch?v=l1vnsqbnAkk">WATCH HERE</a>
                       </div>
                     </li>
                   </ul>
                 </div>
            </div>
          </div>
        </div>
      </div>


  <% end %>

</div>
