<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You Look Good</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/materalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <header>
      <div class="row">
        <h1 class="title col m12 l5">You Look Good</h1>
        <div class="username_or_login col s7">
              <% if session[:logged_in] == true %>
                <div> Hello, <%= @current_user %></div><a href='/users/logout'>Logout</a>
              <% else %>
                <div class="row">
                <form class="col s8 login-row" action="/users/login" method="post">
                  <div class="row">
                    <div class="input-field col s4">
                      <input id="username" type="text" class="validate">
                      <label for="username">Username</label>
                    </div>
                    <div class="input-field col s4">
                      <input id="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                    <button class="btn waves-effect waves-light login-button" type="submit" name="action">LOG IN</button><br>
                  </div>
                </form></div>
                <a href='/users' class="sign_up right-align">Not registered? Sign up!</a>
                <!-- <a href="/users">LOGIN/REGISTER</a> -->
              <% end %>
        </div>
      </div>

      <div class="navbar">
        <nav class="button-collapse">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo"><div class="row left-header"></div></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li data-menuanchor="about"><a href="/">Home</a></li>
              <li data-menuanchor="about"><a href="/about">About</a></li>
              <li data-menuanchor="portfolio"><a href="/post">Post</a></li>
              <li data-menuanchor="causes"><a href="/users">Account</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li data-menuanchor="about"><a href="/">Home</a></li>
              <li data-menuanchor="about"><a href="/about">About</a></li>
              <li data-menuanchor="portfolio"><a href="/post">Post</a></li>
              <li data-menuanchor="causes"><a href="/users">Account</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <%= yield %>


        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="fancy">You Look Good</h5>
                <p>Trying to eliminate the self doubt around the question "How Do I Look?" one post at a time.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="fancy">Other Good Stuff</h5>
                <ul>
                  <li><a class="white-text"  href="mailto:wileysb@gmail.com">Contact us</a></li>
                  <li><a class="white-text"  href="https://github.com/wileysb88/you_look_good">Checkout our code</a></li>
                  <li><a class="white-text"  href="http://wileysb88.github.io/tall_guy_from_chi/">Tall Guy From Chi</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Scott Wiley
            </div>
          </div>
        </footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
    <script type="text/javascript" src="/scripts/materialize.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </body>


</html>
