<div class="row">
  <form class="col s12 m6" action="/users/login" method="post">
      <h3 class="fancy">Log In</h3>
      <div class="input-field col s12">
        <input id="username" type="text" class="validate">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
      <button class="btn waves-effect waves-light login-button" type="submit" name="action">LOG IN</button><br>
  </form>
  <form  action="/users/create" method="post">
    <div class="col s12 m6">
      <h3 class="fancy">Register</h3>
      <div class="input-field col s12">
        <input id="username" type="text" class="validate">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
      <!-- CAN ADD RE-ENTER PASSWORD LATER -->
      <button class="btn waves-effect waves-light login-button" type="submit" name="action">REGISTER</button>
    </div>
  </form>
</div>
