<div class="">
    <form class="form-horizontal" action="/users/create" method="post">
    <div class="col s12">
      <h3 style="color: white">REGISTER</h3>
      <label for="username" >Username: </label>
      <input type="text" name="username" value="" placeholder="Choose a username">
      <br />
      <label for="Name">Password: </label>
      <input type="password" name="password" value="" placeholder="Choose a password">
      <br>
      <!-- CAN ADD RE-ENTER PASSWORD LATER -->
      <button type="submit" class="btn btn-primary" name="button">Sign in</button>
    </div>
    </form>
</div>
