<h1>TEST POST</h1>

<form class="" action="index.html" method="post">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Tell Us What Your Thinking</label>
        </div>
      </div>
    </form>
  </div>
</form>
