$lighter-purple: rgb(196, 116, 209);
$darker-purple: rgb(126, 52, 214);
$loopy-font: 'Sacramento', cursive;
$normal-font: 'Raleway', sans-serif;
$light-background: rgba(255, 255, 255, 0.2);

.background-tiles{
  background: $light-background;
  margin: 40px;
  font-size: 36px;
  padding: 40px;
  text-align: center;
  border-radius: 4px;
}


body{
  background: $lighter-purple;
  background-size: cover;
  font-family: $normal-font;
  color: white!important;
}


.fancy{
  font-family: $loopy-font!important;
}
.username_or_login{
  position: relative;
  float: right;
}

.title{
  position: relative;
  float: left;
  font-family: $loopy-font;
  font-size: 64px;
}

.welcome-paragraph{
  font-size: 18px;
}

.username_or_login{
  margin-top: 20px;
  float: right;
}

.sign_up{
  float: right;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 12px;
}

.login-button{
  margin-top: 20px;
  margin-left: 10px;
}

.login-row{
  float: right!important;
}

.welcome, .section-header{
  @extend .background-tiles;
}

.section-header{
  width: 100%;
  margin: 20px;

}

.links{
  background: rgba(255, 255, 255, 0.2);
  margin: 40px;
  padding: 40px;
}
